
* {
  margin: 0;
  padding: 0;
}


body {
  font: 11px/15px "Lucida Grande", tahoma, sans-serif;
  text-align: center; 
  line-height: 1.7em;
  background: #807e7c url("images/bg_page.gif");
  color: #595856;

}

h1, h2,h3, h4 {
  padding-top: .5em;
  line-height: 1.3em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 0.9em;
}

h4 {
  font-size: 0.6em;
}

p, ul, ol, dl {
  padding: .4em 0;
}

ul, ol, dd {
  margin-left: 2.5em;
}

li ul, li ol {
  margin-left: 1.5em;
}

li ol li {
  list-style-type: lower-alpha;
}

li, dt, dd {
  padding: .2em 0;
}

dt {
  font-weight: bold;
}

table {
  margin: .5em auto;
  width: 100%;
}


img {
  border-width: 0;
}


.clear-block:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}



* html .clear-block {
  height: 1%;
}

.clear-block {
  display: block;
}




#page {
  background-color: #E6E4DF;
  margin: 0 10%;
  min-width: 760px;
  text-align: left;
}

#header {
  overflow: hidden;
}

#wrapper {
  width: 100%;
}

#subwrapper {
  float: left;
  width: 100%;
}

#container {
  float: right;
  width: 100%;
}

#container .content {
  overflow: hidden;
}



body.sidebars #subwrapper {
  margin-right: -150px;
}

body.sidebars #container {
  margin-left: -200px;
}

body.sidebars #left_sidebar {
  float: left;
  width: 185px;
}

body.sidebars #right_sidebar {
  float: right;
  width: 150px;
}

body.sidebars #container #content {
  margin: 0 150px 0 200px;
  padding: 0 1em;
}


/* Tabs */

div.tabs ul.primary {
  clear: both;
  margin: 2em 0 0 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 1.5em;
  border-bottom: #000000 2px solid;
}

div.tabs ul.primary li {
  display: block;
  float: left;
  margin: 0;
  padding: 0 2px;
  list-style-type: none;
  text-align: center;
}

div.tabs ul.primary a {
  padding: 6px 10px;
  color: #999999;
  text-decoration: none;
  line-height: 1.3em;
  border-color: #999999;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  background-color: #eeeeee;
}

div.tabs ul.primary a.active {
  padding: 6px 10px;
  color: #000000;
  font-weight: bold;
  border-color: #000000 #000000 #eeeeee #000000;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  background-color: #eeeeee;
}

div.tabs ul.primary a:hover {
  text-decoration: underline;
}

div.tabs ul.secondary {
  clear: both;
  margin: 0;
  padding: 0;
  line-height: 2em;
}

div.tabs ul.secondary li {
  display: inline;
  padding: 0 7px 0 5px;
  list-style-type: none;
  border-right: #000000 1px solid;
}

div.tabs ul.secondary a {
  color: #999999;
  text-decoration: none;
}

div.tabs ul.secondary a.active {
  color: #000000;
  font-weight: bold;
}

div.tabs ul.secondary a:hover {
  text-decoration: underline;
}

/* Main content area */
#breadcrumb {
  padding: .5em;
}

#mission {
  padding: .5em;
}

/* Header styles */
#header {
  padding: .5em;
}

/* Main menu styles */
#main_menu {
  clear: both;
  width: 100%;
}

#main_menu ul {
  margin: 0;
  padding: .5em;
}

#main_menu li {
  display: inline;
  padding: 0 .5em;
  list-style-type: none;
  text-align: left;
}

/* Secondary menu styles */
#secondary_menu {
  clear: both;
  width: 100%;
  text-align: center;
}

#secondary_menu ul {
  margin: 0;
  padding: .5em;
}

#secondary_menu li {
  display: inline;
  padding: 0 .5em;
  list-style-type: none;
  text-align: left;
}

/* Sidebar styles */
#left_sidebar,
#right_sidebar {
  font-size: .8em;
}

#left_sidebar .block,
#right_sidebar .block {
  margin: .5em 0;
  padding: .5em;
}

/* Search block styles */
#search-theme-form .search-input {
  width: 100%;
}

/* Footer styles */
#footer {
  clear: both;
  padding: .5em;
  text-align: center;
}

/* Left */
#left_sidebar h3, #right_sidebar h3{
  font-family: Arial;
  padding: 0px;
  line-height: 15px;
  font-size: 10px;
  color: #496708;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 20px;
  background: url("images/bg_left-right-title.gif") no-repeat;
  margin-bottom: 4px;
}


#left_sidebar li {
 border-bottom: 1px solid #d0cec9;
 list-style: none;
}
	
#left_sidebar li li, #left_sidebar li ul {
 border: none;
}
	
#left_sidebar li a {
 font-size: 12px;
 color: #403f3e;
 text-decoration: none;
 font-weight: bold;
 display: block;
 position: relative;
 padding: 5px;
}
	
#left_sidebarli li a {
 font-size: 10px;
 color: #595856;
 font-weight: normal;
 padding: 3px 0 3px 15px;
}
				
#left_sidebar li li li a {
 padding: 3px 0 3px 25px;
 background: none;
}

#left_sidebar a:hover {
 color: #70a41d; 
}

#left_sidebar a.active {
 background: #faf8f2;
}
 


/* Links global */
a {
 color: #70a41d;
}
a:hover {
 color: #807e7c;
}